.mobile-menu {
  position: fixed;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: -1;
}


.mobile-li {
  border-bottom: 1px solid white;
}

.mobile-style {
  position: fixed;
  opacity: 1;
  transform: translateX(0%);
  z-index: 10;
}

.card-pending {
  display: none;
  position:relative;
  opacity: 0;
  animation: appear 0.3;
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  10% {
    opacity: 0.1;
    display: block;
  }

  100% {
    opacity: 1;
    display: block;
  }  
}

.card-success {
  display: block;
  position:relative;
  opacity: 1;
}

.form-container-pending {
  display: block;
  opacity: 1;
  animation: disappear 0.3;
}

@keyframes disappear {
  0% {
    opacity: 1;
    display: block;
  }
  10% {
    opacity: 0.1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }  
}

.form-container-sucess {
  display: none;
  opacity: 0;
}

input::placeholder {
  color: #343FFF;
}
input::placeholder:nth-last-child {
  color: #FF3434;
}

.error-border {
  border: 1px solid #FF3434;
  border-radius: 4x;
}

.correct-input-border {
  border: 1px solid #343FFF;
  border-radius: 4x;
}

#preGermany::before {
  content: url('Icons/germany.svg');
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  main {
    background-image: url('Icons/backgroundImage.svg');
  },
  #firstName, #lastName {
    width: 49.5%;
  }
}