.mobile-menu {
  position: fixed;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: -1;
}

.mobile-style {
  position: fixed;
  opacity: 1;
  transform: translateX(0%);
  z-index: 10;
}

.card-pending {
  opacity: 0;
}

.form-container-pending {
  opacity: 1;  
}

.form-container-sucess {
  transition: all 0.2s ease-in-out;  
  opacity: 0;
}

.card-success {
  z-index: 10;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}